<div class="col-lg-5ths col-md-4 w-100 mt-2">
  <div class="card index-card small">
    <div class="card-header bg-secondary text-white truncate-parent">
      <%= link_to playbook.name, playbook, class: 'truncate-text',
        'title' => playbook.name, 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
    </div>
    <div class="playbook-logo-frame ml-2 mt-2">
      <%= link_to(playbook) do %>
        <div class="text-muted float-left"><%= t('model.playbook').to_s.titlecase.pluralize %></div>
        <br>
        <%= image_tag(playbook.image_file, class: 'project-logo align-middle', skip_pipeline: true) %>
      <% end %>
    </div>
    <div class="card-footer footer-padding">
      <div class="footer-row">
        <%= t('view.playbook.index.share') %>:
      </div>
    </div>
  </div>
</div>