<link rel="stylesheet" type="text/css" href="https://unpkg.com/grapesjs/dist/css/grapes.min.css" />
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic&subset=latin,vietnamese,latin-ext,cyrillic,cyrillic-ext,greek-ext,greek' rel='stylesheet' type='text/css'>

<%= form_with(model: @page_contents, url: save_design_playbook_playbook_page_path, local: true, html: { id: 'page-form' }) do |form| %>


<div id="loading-overlay" class="hidden"></div>
<div id="loading-indicator" class="hidden">
  <div id="loading-spinner" class="spinner-border spinner-border text-center" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div id='<%= !@page_contents["name"].nil? && @page_contents["name"].gsub(" ", "-") %>'>
  <div class="row">
    <div class="col-xs-12 col-md-6 mt-3 float-left">
      <fieldset class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="editor_type" name="editor_type">
        <label class="form-check-label" for="editor-type"><%= t('view.playbook-page.form.editor-type') %></label>
      </fieldset>
    </div>
    <div class="col-xs-12 col-md-6 mt-2">
      <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <input type="radio" name="language" id="lang-en" value="en" autocomplete="off" checked> English
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="language" id="lang-fr" value="fr" autocomplete="off"> France
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="language" id="lang-de" value="de" autocomplete="off"> Deutsch
        </label>
      </div>
    </div>
  </div>

  <input type="hidden" id="page_content" name="page_content" />
    <div id="simple-editor" class="w-75">
  </div>

  <div id="page-builder" class="hidden">
    <%= render('/playbook_pages/designer/grapes_style.css') %>

    <div id="gjs" style="height:0px; overflow:hidden"></div>
  </div>

  <fieldset class="float-right mt-4">
    <%= form.submit t('view.general.submit'), class: "btn btn-primary", id: "submit-btn" %>
    <%= button_tag t('view.general.back'), class: "btn btn-outline-secondary", type: "submit", name: "cancel", value: true %>
  </fieldset>

</div>
<% end %>

<script src="https://unpkg.com/grapesjs"></script>
<script src="https://unpkg.com/grapesjs-preset-webpage"></script>
<script src="https://unpkg.com/grapesjs-lory-slider"></script>
<script src="https://unpkg.com/grapesjs-tabs"></script>
<script src="https://unpkg.com/grapesjs-custom-code"></script>
<script src="https://unpkg.com/grapesjs-touch"></script>
<script src="https://unpkg.com/grapesjs-parser-postcss"></script>
<script src="https://unpkg.com/grapesjs-tooltip"></script>
<script src="https://unpkg.com/grapesjs-tui-image-editor"></script>
<script src="https://unpkg.com/grapesjs-typed"></script>
<script src="https://unpkg.com/grapesjs-style-bg"></script>
<script src="https://unpkg.com/toastr"></script>
<script src="https://nribeka.gitlab.io/js/grapesjs-custom-tooltip.min.js"></script>
<script src="https://nribeka.gitlab.io/js/grapesjs-custom-button.min.js"></script>
<script src="https://nribeka.gitlab.io/js/grapesjs-custom-reveal.min.js"></script>
<script type="text/javascript" defer>
  <%= render('/playbook_pages/designer/show_design.js') %>
</script>

<script defer>
  var simpleEditor;
  var grapesEditor;

  $(document).ready(function() {
    initializeEditors('en');

    FroalaEditor.DefineIcon('save',{
      NAME: 'save',
      template: 'font_awesome_5'
    });
    FroalaEditor.RegisterCommand('save', {
      title: 'Save',
      focus: false,
      undo: false,
      refreshAfterCallback: false,
      callback: function () {
        if (!simpleEditor) {
          // Do nothing if the Froala is undefined.
          return;
        }

        jQuery.post(
          url = '<%= save_design_playbook_playbook_page_path(@playbook, @page) %>',
          data = {
            language: $("input[name=language]:checked", '#page-form').val(),
            page_content: simpleEditor.html.get()
          },
          success = function(result) {
            console.log('Simple editor changes saved!', result);
          },
          dataType = 'json'
        );
      }
    });

    simpleEditor = new FroalaEditor('#simple-editor', {
      key: "<%= ENV['FROALA_KEY'] %>",
      attribution: false,
      htmlRemoveTags: [],
      events: {
        'html.set': function() {
          var target = document.querySelector("#simple-editor div[data-component-marker='popover-content']");
          if (target) {
            var mutationObserver = new MutationObserver(function(mutationList) {
              mutationList.forEach(function(mutation) {
                var popover = mutation.target.parentNode.closest("div[data-component-marker='playbook-popover']");
                var content = mutation.target.parentNode.closest("div[data-component-marker='popover-content']");
                popover.setAttribute('data-content', content.innerHTML);
              });
            });
            var config = { subtree: true, attributes: true, childList: true, characterData: true };
            mutationObserver.observe(target, config);
          }
        }
      },
      tableStyles: 	{
        'fr-dashed-borders': 'Dashed Borders',
        'fr-alternate-rows': 'Alternate Rows',
        'default-padded-cell': 'Default Padded Cell',
        'md-padded-cell': 'Larger Padded Cell',
        'xl-padded-cell': 'Largest Padded Cell',
      },
      lineHeights: {
        Default: '',
        Single: '1',
        '1.15': '1.15',
        '1.5': '1.5',
        Double: '2'
      },
      toolbarButtons: {
        'moreText': {
          'buttons': [
            'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript',
            'fontFamily', 'fontSize', 'textColor', 'backgroundColor', 'inlineClass',
            'inlineStyle', 'clearFormatting'
          ]
        },
        'moreParagraph': {
          'buttons': [
            'alignLeft', 'alignCenter', 'formatOLSimple', 'alignRight', 'alignJustify',
            'formatOL', 'formatUL', 'paragraphFormat', 'paragraphStyle', 'lineHeight',
            'outdent', 'indent', 'quote'
          ]
        },
        'moreRich': {
          'buttons': [
            'insertLink', 'insertImage', 'insertVideo', 'insertTable', 'emoticons',
            'fontAwesome', 'specialCharacters', 'embedly', 'insertFile', 'insertHR'
          ]
        },
        'moreMisc': {
          'buttons': [
            'undo', 'redo', 'save', 'fullscreen', 'print', 'getPDF', 'spellChecker',
            'selectAll', 'html', 'help'
          ],
          'align': 'right',
          'buttonsVisible': 3
        }
      },
      fontSize: ['8', '9', '10', '11', '12', '14', '15', '16', '18', '20', '24', '30', '36', '48', '60', '72', '96'],
      fontFamily: {
        "Roboto,sans-serif": 'Roboto',
        "Arial": 'Arial',
        "Georgia": 'Georgia',
        "Impact": 'Impact',
        "Tahoma": 'Tahoma',
        "Times New Roman": 'Times New Roman',
        "Verdana": 'Verdana'
      },
      imageUploadURL: '/froala_image/upload',
      imageUploadMethod: 'POST'
    }, function() {
      simpleEditor.html.set("<%= @page_contents.html.nil? ? "" : @page_contents.html
                                                                               .squish
                                                                               .gsub("\"","\\\"")
                                                                               .gsub("</script>","<\\\/script>")
                                                                               .html_safe %>");
    });

    if ("<%= @page_contents.editor_type %>" == "simple") {
      $("#editor_type").removeAttr('checked');
    } else {
      $("#editor_type").attr('checked', 'true');
      $("#simple-editor").toggleClass('hidden')
      $("#page-builder").toggleClass('hidden')
    }
  });

  $("#submit-btn").on('click', function(e) {
    var html = simpleEditor.html.get();
    $("#page_content").val(html);
    
    if ($("#editor_type").is(':checked')) {
      grapesEditor.store();
    } 
  })

  $("#editor_type").on('click', function() {
    if ($("#editor_type").is(':checked')) {
      // Update the page builder with the current simple layout
      var html = simpleEditor.html.get()
      grapesEditor.setComponents(html);
    } else {
      // Update the simple editor with the current page builder
      var html = grapesEditor.getHtml();
      var css = grapesEditor.getCss();
      var content = "<style>"+css+"</style>"+html
      simpleEditor.html.set(content);
    }
    $("#simple-editor").toggleClass('hidden')
    $("#page-builder").toggleClass('hidden')
  })

  $("input[name=language]", '#page-form').on('change', switchLanguage);
  
  function switchLanguage() {
    const langValue = $("input[name=language]:checked", '#page-form').val();

    if (grapesEditor) {
      $("#loading-overlay").show();
      $("#loading-indicator").show();

      const urlStore = `<%= save_design_playbook_playbook_page_path(@playbook, @page) %>?language=${langValue}`;
      const urlLoad = `<%= load_design_playbook_playbook_page_path(@playbook, @page) %>?language=${langValue}`;

      grapesEditor.StorageManager
                  .get('remote')
                  .set({ urlLoad: urlLoad, urlStore: urlStore });

      grapesEditor.load(function() {
        if (!$("#editor_type").is(':checked')) {
          const html = grapesEditor.getHtml();
          const css = grapesEditor.getCss();
          const content = "<style>" + css + "</style>" + html
          simpleEditor.html.set(content);
        }
      
        $("#loading-overlay").fadeOut();
        $("#loading-indicator").fadeOut();
      });
    }
  }

  function initializeEditors(language) {
    if (typeof toastr === 'undefined') {
      setTimeout(() => initializeEditors(language), 1000);
    } else {
      grapesEditor = initGrapes(language);
    }
  }
</script>
